.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0F0F0F;
    box-shadow: 0px 8px 10px 0px #15182e;
    z-index: 1000;
}
.headL{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #B415FF;
    box-shadow: 0px 8px 10px 0px #5b396b;
    z-index: 1000;
}
body.dark-theme {
    background-color: rgb(203, 203, 203);
    color: black;
  }
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;  
    padding: 0 15px;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar {
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
    background-color: transparent;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.modes{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F7BE23;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    gap: 10px;
    font-size: 26px;
}
.btn img{
    border-radius: 50%;
    height: 40px;
}

.nav-item {
    margin: 0 10px;
}
.navlinkdark{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 5px 10px;


    &:hover{
        color: #DF8908;
    }
}
.nav-link {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.bi-brightness-high-fill{
    /* background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:#b415ff;
    font-size: 20px;
    cursor: pointer;
}
.nav-link:hover {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:active,
.nav-link:focus {
    color: inherit;
    outline: none;
    background-color: transparent;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .btn{
        display: none;
    }
    .toggle-button {
        display: flex;
        position: relative;
        z-index: 1001;
        left: 70%;
    }

    /* Animate the bars for the toggle button */
    .toggle-button.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }
    
    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .toggle-button.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .navbar {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background-color: #0F0F0F;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        display: block;
    }
    .dark-mode-navbar{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background-color: #B415FF;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        display: block;
    }

    .navbar.active {
        max-height: 340px;
    }

    .nav-menu {
        flex-direction: column;
        padding: 20px 0;
        align-items: center;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .navbar.active .nav-menu {
        opacity: 1;
        transition-delay: 0.1s; /* Slight delay to make items appear after menu expands */
    }

    .nav-item {
        margin: 10px 0;
        text-align: center;
        transform: translateY(-10px);
        transition: transform 0.3s ease-in-out;
    }

    .navbar.active .nav-item {
        transform: translateY(0);
    }
  .header-content{
    display: flex;
    align-items: center;
  }
}