.imgouter{
    height: 300px;
    border-radius: 50%;
    width: 400px;
    margin-top: 70px;
    /* padding: 10px; */
}


.logo img{
    height: 50px;
    border-radius: 50%;
}
.txtOuter{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt{
    height: 400px;
    width: 100%;
    margin-top: 50px;  
    margin-left: 5pc;
    /* background-color: aqua; */
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
}
.name{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
}
.txtt{
    font-size: 18px;
}
.txt button{
    height: 60px;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    color: white;

    &:hover{
        border:3px solid #b415ff;
        background: black;
    }
}

.imgg{
    transform: rotate(90deg);
}

@media(max-width:768px){
    .imgouter{
        width: 300px;
    }
    .txtOuter{
        margin-top: 70px;
    }
    .txt{
        width: 100%;
        margin: 10px auto;
        padding-top: 20px;
    }
}